.btn {
  border-radius: 1rem;
  outline: none;
  padding: 1rem;

  &--create {
    background-color: $color-palette-1;
    border:1px solid $color-palette-2;
    box-shadow: inset 0 2px 1px $color-palette-3;
    color: $color-white;
    font-size: $l-size;

  }

  &--back {

  }

  &--blue-light {
    background-color: $color-palette-2;
    border:1px solid $color-palette-2;
    box-shadow: inset 0 2px 1px $color-palette-3;
    color: $color-white;
  }

  &--green-light {
    background-color: $color-green-light;
    color: $color-black;
  }

  &--large {
    font-size: $l-size;
  }

  &:active {
    transform: translateY(.5rem);
  }

}
