.square {
  background-color: $color-grey-light;
  height: 30rem;
  border:1px solid black;
  text-align: center;
  img {
    width: 100%;
  }
  &__component {

    height: 33%;
    
    padding: 3rem;
    &:not(:last-child){
      border-bottom:1px solid black;
    }

  }
  &-preview {

    border:1px solid black;
    height: 30rem;

  }
}
