// COLORS
$color-palette-1: #285FFF;
$color-palette-2: #258AE8;
$color-palette-3: #35D3FF;
$color-palette-4: #25E8DE;
$color-palette-5: #28FFB7;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-blue-light: #2a81a4;
$color-green-light: #7ed56f;

$color-clickable: #5643fa;

$color-link:  #000;
// font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
