*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a:visited,
a:link {
  //color: $color-link;
  text-decoration: none;
}
