body {
  background-color: $color-grey-light;
  //background-color: $color-palette-2;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
}

.info {
  background-color: $color-palette-4;
  font-size: $m-size;
  margin-bottom: 1rem;
  padding: 2rem;
}

.title {
  border-bottom: 1px solid black;
  text-align: center;
  font-size: $m-size;
  margin-bottom: 2rem;
  letter-spacing: 1px;

  h1 {
    font-weight: 300;

  }
}
